html {
  position: relative;
  min-height: 100%;
}
body {
     background: rgb(252,249,241);
}

.navbar-brand {
    color:#329279;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: #329279;
    background-color: transparent;
}


.navbar-nav li a {
    color:  #dec1c9;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000;
    font-size: 25px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #dec1c9;
    background-color: transparent;
}


.btn-primary {
  background: #92324b;
  border-color: #7f2b41;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #b83f5f !important;
     border-color: #7f2b41 !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
       background: #b83f5f; 
       border-color: #7f2b41;
}

#background-img {
    margin-top: 1.5%;
}
/******************CAMPGROUNDS*****************************/

.thumbnail {
    padding: 0;
    background-color: #FCF9F1;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/*************FOOTER***********************************/


.footer {
  position: relative;
  bottom: 0;
  height: 100px;
  background-color: transparent;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
}

.fa-reddit {
    color: #FF4500;
}

.footer p {
    float: left;
}
.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-snapchat {
    color: #FFFC00;
}

.fa-flickr {
    color: #ff0084;
}


.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}    
    